:root {
    --white-section: #000;
    --black-section: #FFFFFF;
    --button-background: #FF8306;
    --hover-button-background: #FFFFFF;
    --hover-button-text: #8A0B8C;
    --icons-color: #FF8306;
}

:root {
    --podkova-font: 'Podkova', serif;
    --bangkok-font: 'Bangkok', sans-serif;
}

 @font-face {
    font-family: 'NATS_Regular';
    font-style: normal;
    font-weight: normal;
    src: local('NATS Regular'), url('/assets/fonts/NATS-Regular.woff') format('woff');
    }


body {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 68px;
    margin-right: 68px;
}

@font-face {
  font-family: 'Bangkok';
  src: url('./assets/fonts/Bangkok-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
    width: 100%;
    height: 4rem;
    background-color: black;
    
}
/*                                     Header styles                             */

header .container {
    height: 100%;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-links li a {
    text-decoration: none;
    color: var(--black-section);
    font-family: var(--podkova-font);
    font-size: 15px;
    transition: 0.3s;
}

.nav-links li a:hover {
  color: var(--icons-color);
}

/*                                        Hero Styles                                  */

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white-section);
}

.hero-text {
  width: 100%;
  z-index: 2;
}

.hero-title {
  position: relative;
  font-size: 340px;
  font-weight: bold;
  color: white;
  font-family: 'NATS_Regular', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
 height: 300px;
 bottom: 17%;
}
.hero-tagline {
    align-self: flex-start;
    font-family: var(--bangkok-font);
    margin-left: 68px;
}
.hero-subtext {
    text-align: right;
    font-family: var(--podkova-font);
    margin-right: 68px;
}

.hero-tagline,
.hero-subtext {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.title-container {
    display: flex;
    height: 500px;
}

.title-year {
  position: relative;
  bottom: -7%;
  right: 5%;
    color: var(--black-section);
    font-family: var(--bangkok-font);
    font-size:70px;
    writing-mode: vertical-rl; /* или vertical-lr */
    text-orientation: var(--podkova-font);
   text-align: center;
   margin: 0;
}

.eclipse {
  position: absolute;
  bottom: 55%;
  width: 600px;
  z-index: 0;
}

.hero-character {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  z-index: 2;
}

.hero-strip {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}


/*                     About Us Styles                                  */

.about-us {
  height: 520px;
  background-color: #fff;
  position: relative;
}

.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-side h1 {
  font-family: var(--bangkok-font);
  font-size: 130px;
  font-weight: 100;
 margin-top: 0;
  margin-bottom: 30px;
}

.left-side p {
  font-family: var(--bangkok-font);
  font-size: 24px;
  width: 400px;
  width: max-content;
}

.link-container {
  display: flex;
  gap: 30px;
  margin-top: 45px;
}

.projects-butt,
.team-members-butt {
  width: 315px;
  height: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.projects-butt {
  color: var(--black-section);
  background-color: var(--button-background);
}

.team-members-butt {
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
}

.projects-butt:hover {
  background-color: var(--black-section);
  color: var(--hover-button-text);
  border: 1px solid var(--hover-button-text);
  transition: 0.3s;
}

.team-members-butt:hover {
  background-color: var(--black-section);
  color: var(--hover-button-text);
  border: 1px solid var(--hover-button-text);
  transition: 0.3s;
}

.right-side {
  display:flex;
  margin-top: 160px;
}

.right-side h1 {
  font-family: var(--bangkok-font);
  font-size: 75px;
  font-weight: 100;
  margin: 0;
}

.right-side .right-text-container p {
  font-family: var(--bangkok-font);
  font-size: 16px;
  width: 450px;
  margin: 0;
}

.right-logo-container p {
  font-family: var(--bangkok-font);
  font-size: 16px;
  text-align: center;
}

.right-logo-container img {
  width: 250px;
  height: 200px;
}

.equal-icon {
  position: absolute;
  left: 43%;
  top: 47%;
  transform: translate(-50%, -70%);
}

.donkey-legs {
  position: absolute;
  top:0;
  right: 40.9%;
}

/*                                  amenities styles                                 */

.amenities {
  background-color: black;
  padding-bottom: 50px;
}

.amenities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.amenities-container h2 {
  font-family: var(--bangkok-font);
  color: var(--black-section);
  font-weight: 100;
  font-size: 32px;
  height: 30px;
  margin: 0;
  padding-bottom: 50px;
}

.amenities-cards-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 30px;
  margin-top: 50px;
}

.amenities-card {
  display: flex;
  width: 500px;
  margin-right: 70px;
  margin-left: 20px;
}

.amenities-card-rectangle {
  width: 500px;
  height: 250px;
  position: absolute;
  z-index: 1;
}

.amenities-card-donkey {
  position: relative;
  right: -10%;
  top: -20%;
  z-index: 3;
}

.design-donkey{
  right: 80%;
}

.marketing-donkey{
  right: 95%;
  top: -28%;
}

.design-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  margin-left: 180px;
}

.supp-list {
  margin-left: 100px !important;
}

.web-text h3 {
  position: relative;
  z-index: 2;
  font-family: var(--bangkok-font);
  color: var(--black-section);
  font-weight: 100;
  font-size: 28px;
  margin-left: 50px;
  width: max-content;
  margin-bottom: 20px;
}

.design-title {
  margin-left: 180px !important;
  margin-bottom: 10px !important;
  margin-top: 50px;
}

.supp-title {
  margin-left: 100px !important;
  margin-top: 50px !important;
}

.card-web-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  margin-left: 50px;
  
}

.web-text ul li {
  color: var(--black-section);
  font-size: 16px;
  margin-bottom: 10px;
  width: max-content;
}

.amenities-butt {
  width: 315px;
  height: 40px;
  background-color: var(--button-background);
  color: var(--black-section);
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amenities-butt:hover {
  background-color: var(--black-section);
  color: var(--hover-button-text);
  border: 1px solid var(--hover-button-text);
  transition: 0.3s;
}

/*                                  How to buy styles                                 */

.how-to-buy {
  height: 520px;
}

.how-to-buy-title {
  font-family: var(--bangkok-font);
  font-weight: 100;
  font-size: 32px;
  color: var(--white-section);
  text-align: center;
  margin-top: 80px;
}

.step-card {
  width: 245px;
  height: 350px;
  border: 1px solid var(--icons-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.step-title {
  width: 150px;
  height: 45px !important;
  background-color: var(--button-background);
  border-radius: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--bangkok-font);
  font-weight: 100;
  font-size: 20px;
}

.second-descr {
  margin-top: 15px;
}

.step-description {
  font-family: var(--bangkok-font);
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.step-subdescription {
  font-family: var(--bangkok-font);
  font-size: 16px;
  text-align: center;
}

.how-to-buy-steps {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.ps-notes {
  font-family: var(--bangkok-font);
  font-size: 12px;
  color: var(--white-section);
  text-align: center;
  margin-top: 10px;
}

/*                                  Price styles                                 */



.price-list-title {
  font-family: var(--bangkok-font);
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}

.price-list-subtitle {
  
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.price-cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 64px
}

.price-card {
  width: 300px;
  border: 1px solid var(--icons-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.price-card-title {
  font-family: var(--bangkok-font);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.price {
 font-size: 54px;
 color: var(--icons-color);
 margin: 10px 0 0 0 ;
}

.price-description {
  font-size: 18px;
  text-align: center;
}

.price-features {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.price-features li img {
  margin-right: 5px;
}

.price-features li {
  font-size: 16px;
}

.order-butt {
  text-decoration: none;
  width: 90%;
  height: 40px;
  background-color: var(--button-background);
  color: var(--black-section);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 20px;
}

.order-butt:hover {
  background-color: var(--black-section);
  color: var(--hover-button-text);
  border: 1px solid var(--hover-button-text);
  transition: 0.3s;
}

.card-logo {
  width: 250px;
  height: 250px;
}

.second-card-price {
  background-color: #FFD4AA;
}

.price-details-link {
  position: relative;
  left: 38%;
  font-family: var(--bangkok-font);
  font-size: 14px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 6px;
  text-decoration: none;
  width: 315px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.price-details-link:hover {
  background-color: var(--black-section);
  color: var(--hover-button-text);
  border: 1px solid var(--hover-button-text);
  transition: 0.3s;
}

.second-card-features li {
  font-size: 12px;
}

/*                                  FAQ styles                                 */

.faq-title {
  font-family: var(--bangkok-font);
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin-top: 80px;
}

.faq-subtitle {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.faq-list {
  max-width: 650px;
  margin: 0 auto;
  
}

.faq-item {
  padding: 1rem;
  background: #FFFFFF;
  color: black;
  border: 1px solid var(--button-background);
  border-left: 7px solid var(--icons-color);
  margin-bottom: 0.8rem;
  border-radius: 16px;
  height: 120px;
}

.faq-item-title {
  display: flex;
  width: 100%;
}

.faq-item-title p {
  font-family: default;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}

.faq-item-title img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  
}

.hidden.show {
  max-height: 200px; /* достаточно большое значение */
  opacity: 1;
}

.faq-toggle {
  color: black;
  padding: 0.1rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.faq-toggle img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.faq-toggle.expanded .faq-icon {
  transform: rotate(180deg);
}